# Dependencies
/node_modules
/node_modules/
**/node_modules
node_modules
package-lock.json
yarn.lock


dist/
build/
*.tsbuildinfo

.env
.env.local
.env.*.local

.idea/
.vscode/
*.swp
*.swo
.DS_Store

logs/
*.log
coverage/

.cache/
.temp/
